<footer class="footer p-10 bg-neutral text-neutral-content">
    <div>
      <span class="footer-title">Consulting</span> 
      <a class="link link-hover">Cloud Application Architecture</a>
      <a class="link link-hover">Devops</a>
      <a class="link link-hover">Application Security</a>
      <a class="link link-hover">Cloud Strategy</a>
    </div> 
    <div>
    </div> 
    <div>
      <span class="footer-title">OpenFlowLabs</span> 
      <a class="link link-hover">About</a>
      <a class="link link-hover">Blog</a>
    </div>
  </footer>